parser: babel-eslint

env:
  browser: true

rules:
  brace-style: 2
  camelcase: [2, { properties: 'never' }]
  key-spacing: 0
  quotes: [2, single, avoid-escape]
  no-multi-spaces: 0
  no-underscore-dangle: 0
  no-use-before-define: 0
  strict: 0

globals:
  require: false
  angular: false
  process: false
  __dirname: false
