<div flex layout="column" layout-align="space-around space-around" class="Home-grid">
    <div layout="row" layout-align="space-around space-around">
        <a ui-sref="app.movie.search" class="HomeLink">
            <md-icon md-svg-src="assets/img/icons/search.svg" class="HomeLink-icon"></md-icon>
            <div class="HomeLink-label">Search</div>
        </a>

        <a ui-sref="app.movie.inTheaters" class="HomeLink">
            <md-icon md-svg-src="assets/img/icons/ticket.svg" class="HomeLink-icon"></md-icon>
            <div class="HomeLink-label">In theaters</div>
        </a>
    </div>

    <div layout="row" layout-align="space-around space-around">
        <a ui-sref="app.movie.upcoming" class="HomeLink">
            <md-icon md-svg-src="assets/img/icons/calendar.svg" class="HomeLink-icon"></md-icon>
            <div class="HomeLink-label">Upcoming</div>
        </a>

        <a ui-sref="app.about" class="HomeLink">
            <md-icon md-svg-src="assets/img/icons/question.svg" class="HomeLink-icon"></md-icon>
            <div class="HomeLink-label">About</div>
        </a>
    </div>
</div>
